<form [formGroup]="textForm">
  <mat-form-field class="example-full-width">
    <mat-label>Update Text</mat-label>
    <textarea matInput formControlName="text" placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

  <div class="buttons">
    @if (textForm.disabled) {
      <button mat-raised-button color="primary" (click)="textForm.enable()">Edit</button>
    } @else {
      <button mat-raised-button color="primary" type="submit" [disabled]="textForm.invalid" (click)="updateText()">
        Save
      </button>
      <button mat-raised-button color="accent" (click)="cancelUpdate()">Cancel</button>
    }
  </div>
</form>


<div class="wall-of-text"
     [ngStyle]="{'font-style': 'Italic', 'font-family':'Comic Sans'}"
     [ngClass]="{'red': currentValue.length > 50, 'green': currentValue.length < 50}">
  {{ currentValue }}
</div>
