form {
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin-bottom: 30px;

  button {
   width: 30px;
  }
}

.wall-of-text {
  word-break: break-word;
}

.buttons {
  display:flex;
  gap: 10px;
}

.red {
  color: red;
}

.green {
  color: green;
}
