
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Moby Dick" #input>
</mat-form-field>
<div class="mat-elevation-z8">
  <table title="Books table" mat-table [dataSource]="dataSource" matSort>
    <caption>Books Table</caption>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Cover Type Column -->
    <ng-container matColumnDef="coverType">
      <th mat-header-cell *matHeaderCellDef> Cover Type </th>
      <td mat-cell *matCellDef="let row"> {{row.coverType}} </td>
    </ng-container>

    <!-- Cover Column -->
    <ng-container matColumnDef="cover">
      <th mat-header-cell *matHeaderCellDef> Cover </th>
      <td mat-cell *matCellDef="let row"> <img [src]="row.cover" width="100" height="160" alt="book cover image"> </td>
    </ng-container>

    <!-- Created At Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
      <td mat-cell *matCellDef="let row"> {{row.createdAt | date: 'yyyy-MM-dd'}} </td>
    </ng-container>

    <!-- Updated At Column -->
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated At </th>
      <td mat-cell *matCellDef="let row"> {{row.updatedAt | date: 'yyyy-MM-dd'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
